.navbar > .btn {
  margin-left: 15px;
}

#navbar-too {
  justify-content: flex-start;
}

textarea.code {
  box-sizing: border-box;
  width: 100%;
  letter-spacing: 2px;
}

table .column-spacer {
  width: 15px;
  border: 0;
}
